/* Coolors Exported Palette - coolors.co/600e0e-1d1b19-a26b31-97432c-bfa98e */
/* RGB */
$color1: rgba(31, 32, 65, 1);
$color2: rgba(75, 63, 114, 1);
$color3: rgba(65, 123, 90, 1);
$color4: rgba(208, 206, 186, 1);
$color5: rgba(233, 210, 192, 1);