.blog-link {
  border: 1px solid $color-primary;
  border-radius: $border-radius;
  padding: 1rem;
  margin: 1rem 0;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "title date" "description description";
  grid-gap: 1rem;

  text-decoration: none;
  color: black;

  word-break: break-word;

  &__title {
    font-size: 1.5rem;
    grid-area: title;
  }

  &__date {
    justify-self: flex-end;
    grid-area: date;
    word-break: keep-all;
  }

  &__description {
    grid-area: description;
  }

  &:hover {
    color: black;

    transform: scale(1.02);
  }
}