.comments-section {
  width: 100%;

  .form {
    margin: 0 auto;

    &__field {
      grid-template-columns: 1fr;

      > label {
        grid-column: 1 / 2;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }

      > textarea {
        grid-column: 1 / 2;
      }
    }
  }
}