// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html, body {
  box-sizing: border-box;
  height: 100%;
}

h1, h2, h3 {
  text-align: center;
  margin: 1rem 0;
}

a:hover {
  color: $color5;
}