/**
 * Basic typography style for copy text
 */

body {
  color: black;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;

  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-wrap: break-word;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}