{% extends "layout.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<form action="{{ url_for('auth.login') }}" method="POST" class="form" id="login-form">
    <h1 class="form__heading">Log In</h1>

    <div class="form__field">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Username..">
    </div>

    <div class="form__field">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password..">
    </div>

    <button class="button">Submit</button>
</form>
{% endblock %}