{% extends "layout.html" %}

{% block title %}
    {{ blog_post['blog_title'] }}
{% endblock %}

{% block content %}
    <div class="blog-post">
        <div class="blog-post__title">{{ blog_post['blog_title'] }}</div>
        <div class="blog-post__credits">
            Written by {{ blog_post['firstname'] }} {{ blog_post['lastname'] }} -
            <i>{{ blog_post['username'] }}</i> | {{ blog_post.blog_date }}
        </div>
        <div class="blog-post__text">
            {{ soup }}
        </div>
    </div>

    {# Comments #}
    <div class="comments-section">
        <hr class="divider divider--wide">
        <form class="form" id="comment-form">
            <div class="form__field">
                <textarea name="comment-text" id="comment-text" rows="5" tabindex="4" required></textarea>
            </div>
            <button class="button" type="submit">Comment</button>
        </form>
        <hr class="divider divider--wide">

        <div class="comments-section__comments" id="comments">
        </div>
    </div>
{% endblock %}

{% block body %}
    {% raw -%}
        <script id="comment-template" type="text/x-handlebars-template">
            <div class="comment" id="{{ comment_id }}">
                <span class="comment__author" id="comment_author">{{ comment_author }}</span> /
                <span class="comment__date">{{ comment_timestamp }}</span>

                <div class="comment__text">{{ comment_text }}</div>

                <div class="comment__footer" id="comment_footer">
                    <button class="button button--transparent" id="reply">Reply</button>
                </div>
            </div>
        </script>

        <script id="reply-form-template" type="text/x-handlebars-template">
            <form class="form" id="reply-form">
                <div class="form__field">
                    <textarea name="comment-text" id="comment-text" rows="3" tabindex="4"
                              required>{{ reply_to }}, </textarea>
                </div>
                <button class="button" type="submit">Reply</button>
            </form>
        </script>
    {% endraw %}

    <script>
        // Render comments.
        const blogPostId = parseInt({{ blog_post['blog_id'] | safe }});
    </script>

    <script src="{{ url_for('static', filename='scripts/comment.js') }}"></script>
{% endblock %}