{% extends "layout.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
    <h1>Explore recent posts about fashion and style!</h1>

    <div class="container">
        {% for blog_post in blog_posts %}
            <a class="blog-link" href="/blog_posts/{{ blog_post['blog_id'] }}">
                <div class="blog-link__title">{{ blog_post['blog_title'] }}</div>
                <div class="blog-link__date">{{ blog_post['blog_date'] }}</div>
            </a>
        {% endfor %}
    </div>
{% endblock %}