<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block head %}
    {% endblock %}
</head>
<body>
<div class="wrapper">
    <nav class="navbar">
        {# Nav logo #}
        <a class="nav-logo" href="#">Josef</a>

        {#  icon  #}
        <span class="icon nav-toggle" id="nav-toggle"><i class="fas fa-bars"></i></span>

        {# Main nav #}
        <div class="nav-links" id="nav-links">
            <a class="nav-item" href="#">Home</a>
            <a class="nav-item" href="#">Blog</a>
            <a class="nav-item" href="#">Contacts</a>
            <a class="nav-item" href="#">About</a>

            {% if session.user_id %}
                <a class="nav-item push-right" href="{{ url_for('logout') }}">Log Out</a>
                <a class="nav-item" href="{{ url_for('add_blog_post') }}">Add blog post</a>
                <a class="nav-item nav-username" href="#">{{ session.username }}</a>
            {% else %}
                <a class="nav-item push-right" href="{{ url_for('registration') }}">Registration</a>
                <a class="nav-item" href="{{ url_for('login') }}">Log In</a>
            {% endif %}
        </div>
    </nav>

    <div class="container sidebar">{% block sidebar %}Sidebar TODO{% endblock %}</div>
    <div class="container content">{% block content %}{% endblock %}</div>

    <div class="footer">
        <span class="icon"><i class="fab fa-instagram"></i></span>
    </div>
</div>

{% block body %}
{% endblock %}
<script src="https://kit.fontawesome.com/47ed321b5f.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='scripts/layout.js') }}"></script>
</body>
</html>