<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="navbar">
    {# Nav logo #}
    <a class="nav-logo" href="#">Josef</a>

    {#  icon  #}
    <span class="nav-toggle" id="nav-toggle"><i class="fas fa-bars"></i></span>

    {# Main nav #}
    <div class="nav-links" id="nav-links">
        <a class="nav-item" href="#">Home</a>
        <a class="nav-item" href="#">Blog</a>
        <a class="nav-item" href="#">Contacts</a>
        <a class="nav-item" href="#">About</a>

        {% if session.user_id %}
            <a class="nav-item" href="#">Log Out</a>
            <a class="nav-item" href="#">{{ session.username }}</a>
            <a class="nav-item" href="#">Add Blog</a>
        {% else %}
            <a class="nav-item push-right" href="#">Registration</a>
            <a class="nav-item push-right" href="#">Log In</a>
        {% endif %}
    </div>
</nav>

{% block body %}
{% endblock %}
<script src="https://kit.fontawesome.com/47ed321b5f.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='scripts/layout.js') }}"></script>
</body>
</html>