// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  background-color: $color1;
  padding: 1rem 1.5rem;
  text-align: center;
}