.form-message {
  display: none;
  position: relative;
}

.form {
  margin: 2rem 20%;

  input[type=submit] {
    margin-left: auto;
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  .form {
    label {
      margin-bottom: 0.25rem;
    }

    input, textarea {
      width: 100%;
      margin-bottom: 1rem;
    }

    .form-message {
      margin-top: -1rem;
      margin-bottom: 1rem;
    }
  }
}