.form {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 0 1rem;
  justify-items: center;
}

@media only screen and (min-width: $breakpoint-tablet) {
  .form {
    grid-template-columns: 25% 1fr;
    grid-gap: 1rem;
    align-items: center;

    label {
      grid-column: 1 / 2;
    }

    input {
      grid-column: 2 / 3;
    }

    .form-message {
      grid-column: 2 / 3;
    }
  }
}